<table class="table table-striped table-hover responsive nowrap">
    {% block thead %}
    <thead>
        <tr>
            {% set hasFilters = false %}
            {% for column in dataGrid.columns %}
                <th scope="col">
                    {% if column.showColumnLabel %}
                        {% if(column.sortable) %}
                            {{ knp_pagination_sortable(dataGrid.paginator, column.label|trans|ucfirst, column.fullName) }}
                        {% else %}
                            {{ column.label|trans|ucfirst }}
                        {% endif %}
                        {% if(column.filterable) %}
                            {% set hasFilters = true %}
                        {% endif %}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        {% if(hasFilters) %}
            <tr>
                {% for column in dataGrid.columns %}
                    <th scope="col">{% if(column.filterable) %}{{ knp_pagination_filter(dataGrid.paginator, {(column.fullName): column.label}) }}{% endif %}</th>
                {% endfor %}
            </tr>
        {% endif %}
    </thead>
    {% endblock %}
    {% block tfoot %}
        {% if dataGrid.paginator.count < dataGrid.paginator.totalItemCount %}
        <tfoot>
            <tr>
                <td colspan="{{ dataGrid.columns|count }}">
                    {% block paginator %}
                        <div class="d-flex align-self-center justify-content-center">{{ knp_pagination_render(dataGrid.paginator) }}</div>
                    {% endblock %}
                </td>
            </tr>
        </tfoot>
        {% endif %}
    {% endblock %}
    <tbody>
    {% for row in dataGrid.paginator %}
        <tr{% for key,value in dataGrid.rowAttributes(row) %} {{ key }}="{{ value }}"{% endfor %}>
            {% for column in dataGrid.columns %}
                <td{% for key,value in column.columnAttributes(row) %} {{ key }}="{{ value }}"{% endfor %}>
                    {% block columnValue %}
                        {% set value = column.showColumnLabel or column.hasValueCallback? column.value(attribute(row, column.name), row, column.name) : column.label|trans|ucfirst %}
                        {% if column.route is null %}
                            {% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}
                        {% else %}
                            <a href="{{ path(column.route, column.routeAttributes(row)) }}"{% if column.class %} class="{{ column.class }}"{% endif %}>{% if column.iconClass %}<i class="{{ column.iconClass }}"></i> {% endif %}
                                {% if column.isHtml %}{{ value|raw }}{% else %}{{ value }}{% endif %}
                            </a>
                        {% endif %}
                    {% endblock %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% if dataGrid.paginator is empty %}
        {% block noResults %}
        <tr>
            <td colspan="{{ dataGrid.columns|count }}">{{ dataGrid.noResultsMessage|trans }}</td>
        </tr>
        {% endblock %}
    {% endif %}
    </tbody>
</table>
